.skylark-header{
    height: 1000px;
    width: 100%;
    background-image: url("./../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}