.skylark-service-items{
    margin-top: 6.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
    // margin-bottom: 200px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.skylark-service-item{
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 5.6rem 8.3rem 12.6rem 8rem;
    @media screen and (max-width: 800px) {
        padding: 5.6rem 1rem 12.6rem 8rem;
    }
    @media screen and (max-width: 768px) {
        flex-basis: 100%;
        max-width: 100%;
    }
    position: relative;
    &-icon{
        img{
            @media screen and (max-width: 1000px) {
            width: 8rem;
            }
            @media screen and (max-width: 768px) {
                width: 12rem;
            }
        }
    }
    &-title{
        position: relative;
        &-heading{
            font-size: 5rem;
            font-weight: 600;
            @media screen and (max-width: 1200px) {
                font-size: 4rem;
            }
            @media screen and (max-width: 768px) {
                font-size: 8rem;
            }
            
            @media screen and (max-width: 500px) {
                font-size: 4rem;
            }

        }
        &::after{
            content: "";
            width: 13rem;
            height: .4rem;
            position: absolute;
            bottom: -1rem;
            left: 0rem;
            background-color: rgba($black, .5);

        }
    }
    
    &-mini-service{
        margin-top: 4.4rem;
        ul{
            list-style-type: square;
            li{
                font-size: 2.5rem;
                margin-left: 2.5rem;
                @media screen and (max-width: 768px) {
                    font-size: 4rem;
                }
            }
        }
    }
    &-button{
        position: absolute;
        right: 2rem;
        bottom: 4rem;
        
    }
}
.service1{
    background-color: $service1;
    .skylark-service-item-title{
        margin-top: 6rem;
    }
}
.service2{
    background-color: $service2;
}
.service3{
    background-color: $service3;
}


.btn-primary{
    &:link, &:visited{
        display: inline-block;
        text-decoration: none;
        color: $white;
        font-size: 1.6rem;
        border: 0.1rem solid $white;
        font-weight: 700;
        padding: 1.5rem 3rem;
        text-transform: capitalize;
        border-radius: 6rem;
    }
}
.btn-primary-mod{
    &:link, &:visited{
        color: $black;
        border-color: $black;
    }
}