$font-dm: 'DM Sans', sans-serif;



$bg-primary: #F5F5F5;
$bg-team: #7C7068;
$white: #fff;
$black: #000;
$purple: #C2A5F9;
$purple-dark: #9E78E8;

$service1: rgba(255, 179, 218, 0.5);
$service2: rgba(21, 111, 255, 0.5);
$service3: rgba(157, 222, 244, 0.5);